html, body {
  height: 200%;
  width: 100%;
}
.button{
  widtrh:291px;
  padding:20;
  margin:0 3px;
  border:2px solid black;
  border-radius:9px;
   cursor:pointer;
}
.row{
  margin:
}
.row-input{
  font-size:20px;
    margin:0;
  padding:10px 30px;
  border:2px solid black;
  border-radius:5px;
}